<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Accounts</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="#">Master Parking App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link" href="Index.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">User Account
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Parking.html">Parking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Services.html">Services and Facilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Support.html">Consumer Support</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Account</h1>
                <p class="list-unstyled"><b>Sign Up</b></p>
                <ul class="list-unstyled">
                    <li>
                        The user must first click on Sign Up to add an account.
                        The app will ask for user’s name, email, password,
                        vehicle’s contact number and vehicle’s car plate number.
                        Upon entering the data, the user will have the option to
                        add credit card in which they must enter the expiry date,
                        card number, cvv number and card name. Once the had finished
                        creating the account, they will sign in to add new parking.
                        The app will also provide options if the user forgets the
                        password. Upon sign in If the data, such as, email and
                        password matches with the email and password for sign up
                        then the user account creation is successful. The app will
                        navigate the user from home page which will allow the user
                        to add parking, view the receipt and the list of their receipt
                        for the charges made upon the monthly parking’s, provide nearby
                        searching parking facilities, update the user’s profile by
                        entering his/her email, the app manual for parking which provides
                        further details and guidelines on how to use the app and the
                        consumer support which further navigate user to an email and call
                        dialer application
                    </li>
                </ul>
                <p class="list-unstyled"><b>Update User Profile</b></p>
                <ul class="list-unstyled">
                    <li>
                        Once the user has sign up, the app can then allow user to update their profile as name, password, contact number and car plate number. The email will not be modifying as the app will ask for that to update as followed. Once the user information has been update, the app will update the payment information if the user has added the credit card.
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>
